#### install MLFlow
!pip install mlflow

### Libraries

In [1]:
# DS libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# ML libraries
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split, StratifiedKFold
from sklearn.preprocessing import RobustScaler, QuantileTransformer, StandardScaler
from sklearn.metrics import *

# MLOps
import mlflow
import mlflow.sklearn

### Credit loans dataset

In [7]:
df = pd.read_csv('./Datasets/Credit.csv')
df.shape

(1000, 21)

In [8]:
df.head()

  checking_status  duration  ... foreign_worker class
0              <0         6  ...            yes  good
1        0<=X<200        48  ...            yes   bad
2   'no checking'        12  ...            yes  good
3              <0        42  ...            yes  good
4              <0        24  ...            yes   bad

[5 rows x 21 columns]

### Preprocessing

In [13]:
# setting object variables to categorical and replace values to their respective categories
cat_vars = df.select_dtypes(include=['object']).columns
for column in cat_vars:
    df[column] = df[column].astype('category').cat.codes
df.head()

   checking_status  duration  ...  foreign_worker  class
0                2         6  ...               1      1
1                1        48  ...               1      0
2                0        12  ...               1      1
3                2        42  ...               1      1
4                2        24  ...               1      0

[5 rows x 21 columns]

### Splitting dataset in train and test subdatasets

In [15]:
predictors = df.iloc[:, 0:-1].values
predictors

array([[ 2,  6,  1, ...,  1,  1,  1],
       [ 1, 48,  3, ...,  1,  0,  1],
       [ 0, 12,  1, ...,  2,  0,  1],
       ...,
       [ 0, 12,  3, ...,  1,  0,  1],
       [ 2, 45,  3, ...,  1,  1,  1],
       [ 1, 45,  1, ...,  1,  0,  1]])

In [17]:
dependet_class = df.iloc[:, -1].values

In [18]:
X_train, X_test, y_train, y_test = train_test_split(predictors, dependet_class, test_size=0.2, random_state=42)

### Creating Naive Bayes model

In [21]:
model = GaussianNB()
model.fit(X_train, y_train)

GaussianNB()

### Making predictions with the trained model

In [23]:
predict_values = model.predict(X_test)

In [25]:
predict_values_prob = model.predict_proba(X_test)
df_prob = pd.DataFrame(predict_values_prob, columns=['bad', 'good'])
df_prob.head()

        bad      good
0  0.394741  0.605259
1  0.296483  0.703517
2  0.564212  0.435788
3  0.480816  0.519184
4  0.404758  0.595242

### Performance Analysis - Metrics

In [28]:
acc = accuracy_score(y_test, predict_values)
ps = precision_score(y_test, predict_values)
rc = recall_score(y_test, predict_values)
fs = f1_score(y_test, predict_values)

In [49]:
print("Accuracy: {:.2f}% \nPrecision: {:.2f}% \nRecall: {:.2f}% \nF1-score: {:.2f}% \n".format(acc, ps, rc, fs))

Accuracy: 0.71%
Precision: 0.78%
Recall: 0.83%
F1-score: 0.80%